	* {
		margin: 0;

	}
	
	div.outer-div {
		background: linear-gradient(to top, #ff0066 0%, #ffcc66 100%);
		overflow: scroll;
		width: 100%;
		height: 100%;
		display: block;
		margin: 0;
		padding: 0;
	}

	div.countdown {
		display: block;
		color: white;
		text-align: center;
		border-radius: 25px;
		margin: auto auto 5% auto;
		padding: 20% 3%;
	}

	div.countdown h3 {
		font-family: 'Raleway', sans-serif;
		font-size: 5em;
		margin-bottom: 5%
	}
	
	p.font {
		font-family: 'Raleway', sans-serif;
	}

	p#demo {
		font-size: 4em;
		padding: 15px;
		padding-top: 5px;
		margin: 0;
	}



@media only screen and (max-width: 812px) and (min-width: 600px)  {
	div.countdown {
		padding: 15% 3%;
		font-size: .7em;
	}
}

@media only screen and (max-width: 600px) and (min-width: 1px)  {
	div.countdown {
		padding: 25% 3%;
		font-size: .5em;
	}
}